@font-face {
	font-family: "regular";
	src: url("/fonts/Minion3-Regular.ttf");
}

@font-face {
	font-family: "displayregular";
	src: url("/fonts/Minion3Display-Regular.ttf");
}

@font-face {
	font-family: "captionregular";
	src: url("/fonts/Minion3Caption-Regular");
}

@font-face {
	font-family: "subheadregular";
	src: url("/fonts/Minion3Subhead-Regular.ttf");
}

@font-face {
	font-family: "italic";
	src: url("/fonts/Minion3-Italic.ttf");
}

@font-face {
	font-family: "displayitalic";
	src: url("/fonts/Minion3Display-Italic.ttf");
}

@font-face {
	font-family: "captionitalic";
	src: url("/fonts/Minion3Caption-Italic.ttf");
}

@font-face {
	font-family: "subheaditalic";
	src: url("/fonts/Minion3Subhead-Italic.ttf");
}

* {
	box-sizing: border-box;
	word-break: break-word;
}

/*:root {
	--base-clr: #c3a87f;
	--txt-clr: #44270d;
}*/

.dark-mode {
	--base-clr: #44270d;
	--txt-clr: #c3a87f;
}

#theme-switch {
	border: 0;
	padding: 0;
	background: none;
}

#theme-switch 
img:last-child, 
.introheader img:last-child, 
.aboutheader img:last-child, 
.intheader img:last-child,
.intfooter img:last-child {
	display: none;
}

.dark-mode 
#theme-switch 
img:first-child,
.dark-mode .introheader img:first-child,
.dark-mode .aboutheader img:first-child,
.dark-mode .intheader img:first-child,
.dark-mode .intfooter img:first-child {
	display: none;
}

.dark-mode 
#theme-switch 
img:last-child, .dark-mode
.introheader img:last-child,
.dark-mode .aboutheader img:last-child,
.dark-mode .intheader img:last-child,
.dark-mode .intfooter img:last-child {
	display: block;
}

.headerdm, 
.introheaderdm,
.aboutheaderdm,
.intheaderdm {
	filter: invert(76%) sepia(11%) saturate(1000%) hue-rotate(357deg) brightness(89%) contrast(87%);
}

#headerwm,
.aboutheaderwm,
.introheaderwm,
.intheaderwm {
	filter: invert(12%) sepia(61%) saturate(1667%) hue-rotate(9deg) brightness(91%) contrast(90%);
}

html {
	overflow-y: scroll;
}

body {
	background-color: var(--base-clr);
	line-height: 30px;
	margin: auto;
	max-width: 700px;
	padding: 20px;
}

body:not(.dark-mode) {
    --base-clr: #c3a87f;
    --txt-clr: #44270d;
}

fieldset p {
	font-family: "italic";
	color: var(--txt-clr);
	text-align: justify;
	font-size: 17px;
}

nav {
	display: flex;
	justify-content: center;
}

nav a {
	color: var(--txt-clr);
	font-size: 18px;
	font-family: "regular";
	margin: 0 0 20px 0px;
	padding: 0 20px;
	justify-content: space-between;
}

footer nav {
	padding-top: 15px;
	justify-content: left;
}

footer nav a {
	margin: 10px 10px 0 0;
}

legend {
	background: var();
	color: var();
	font-family: "medium";
	font-size: 30px;
	padding: 0px 5px;
	font-family: "captionitalic";
}

fieldset {
	background: var();
	border: 0;
	border-radius: 5px;
	color: var(--txt-clr);
	padding: 0 10px;
}

.introspections fieldset,
.about fieldset {
	border: 1.5px;
	border-style: solid;
	border-radius: 2.5px;
	color: var(--txt-clr);
	padding: 0 10px;
}

a {
	color: var(--txt-clr);
	font-family: "semibolditalic";
	text-decoration: none;
}

.img-header img {
	width: 65%;
	justify-content: center;
	align-items: center;
}

.introheader,
.aboutheader,
.intheader,
.intfooter {
	display: flex;
	justify-content: center;
}

.introheader img {
	width: 65%;
	height: 85%;
	margin: 0px;
	padding: 0px;
}

.intheader img {
	width: 65%;
	height: 85%;
	margin: 0px;
	padding: 12px 0 20px 0;
}

.intfooter img {
	width: 100%;
	margin: 0;
	padding: 40px 0 20px 0;
}

.aboutheader img {
	width: 65%;
	height: 85%;
	margin: 0px;
	padding: 0;
}

.grid1 {
	align-items: start;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr;
}

.grid1 legend {
	align-items: start;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr;
	padding-top: 10px;
	font-family: "displayregular";
}

.indexlegend {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "subheadregular";
	font-size: 28px;
	margin: 0;
	padding: 0 0 20px 0;
}

.introspections,
.about {
	align-items: start;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr;
	padding-top: 5px;
}

.introspections a {
	font-family: "subheadregular";
	font-size: 20px;
}

.introspections p {
	font-family: "subheaditalic";
	font-size: 15px;
	margin: 0;
	text-indent: 15px;
}

button {
	all: unset;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0 0 0 30px;
	color: var(--txt-clr);
}

.state {
	line-height: 28px;
	padding-bottom: 10px;
}

.state p {
	padding: 5px 5px 5px 10px;
	font-family: "regular";
}

.about-info p {
	color: var(--txt-clr);
	font-family: "displayregular";
	font-size: 18px;
	text-align: justify;
	padding: 0 15px 0 15px;
}

.grid2 {
	align-items: start;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr;
	padding-top: 15px;
}

.date{
    display: inline-block;
    min-width: 65px;
    padding-bottom: 10px;
}

.quote p {
    font-family: "italic";
    font-size: 16px;
    margin: 18px 30px 20px 28px;
}

.footerinfo {
	padding: 20px 0 0 0;
}

.footerinfo a{
    justify-content: center;
    font-family: "regular";
    transition: padding 300ms;
}

.footerinfo a:hover {
    border: 1.8px solid;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
}

@media only screen and (max-width: 600px) {
	.grid2 {
		grid-template-columns: 1fr;
	}
}
