@font-face {
    font-family: "semibold";
    src: url("fonts/Minion3-Semibold.ttf");
}
@font-face {
    font-family: "italic";
    src: url("fonts/Minion3Display-Italic.ttf");
}
@font-face {
    font-family: "regular";
    src: url("fonts/Minion3-Regular.ttf");
}
@font-face {
    font-family: "mediumitalic";
    src: url("fonts/Minion3-MediumItalic.ttf");
}
@font-face {
    font-family: "medium";
    src: url("fonts/Minion3-Medium.ttf");
}
@font-face {
    font-family: "subheadmi";
    src: url("fonts/Minion3Subhead-MediumItalic.ttf");
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

:root {
    --base-clr: #dce1ca;
    --txt-clr: #121b13;
    --scnd-tclr: ;
}

.darkmode {
    --base-clr: #110110;
    --txt-clr: #dce1ca;
    --scnd-tclr: ;
}

#dm-function {
    border: 0;
    padding: 0;
    background: none;
}

#dm-function img:last-child{
    display: none;
}

.darkmode #dm-function img:first-child{
    display: none;
}

.darkmode #dm-function img:last-child{
    display: block;
}

#headerdm, .aboutheader {
    filter: invert(91%) sepia(35%) saturate(107%) hue-rotate(23deg) brightness(91%) contrast(95%);
}

#headerwm {
    filter: invert(5%) sepia(6%) saturate(5%) hue-rotate(314deg) brightness(101%) contrast(83%);
}

.aboutheader {
    padding: 0;
    margin: -40px 0 -35px;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--base-clr);
    line-height: 30px;
    margin: auto;
    max-width: 700px;
    padding: 20px;
}

fieldset p {
    font-family: "medium";
    color: var(--txt-clr);
    text-align: justify;
    font-size: 17px;
}

nav {
    display: flex;
    justify-content: center;
}
nav a {
    color: var(--txt-clr);
    font-size: 18px;
    font-family: "medium";
    margin: 0 0 20px 0px;
    padding: 0 20px;
    justify-content: space-between;
}

footer nav {
    padding-top: 15px;
    justify-content: left;
}
footer nav a {
    margin: 10px 10px 0 0;
}
legend {
    background: var();
    color: var();
    font-family: "medium";
    font-size: 30px;
    padding: 0px 0px;
}
fieldset {
    background: var();
    border: 0;
    border-radius: 5px;
    color: var(--txt-clr);
    padding: 0 10px;
}

.introspections fieldset, .about fieldset{
    border: 1.5px;
    border-style: solid;
    border-radius: 5px;
    color: var(--txt-clr);
    padding: 0 10px;
}

a {
    color: var(--txt-clr);
    font-family: "semibolditalic";
    text-decoration: none;
}

date {
    font-family: "mono";
    font-size: 14px;
}

.img-header img {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.introheader, .footer-img {
    display: flex;
    justify-content: center;
}

.introheader img {
    width: 60%;
    height: 85%;
    margin: 0px;
    padding: 0px;
}

.footer-img img {
    width: 73%;
    height: 85%;
    margin: 0px;
    padding: 0px;
}

.grid1 {
    align-items: start;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    padding-top: 15px;
}

.introspections, .about {
    align-items: start;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    padding-top: 15px;
}

.introspections a {
    font-family: "regular";
    font-size: 20px;
}

.introspections p {
    font-family: "italic";
    font-size: 15px;
    margin: 0;
    text-indent: 15px;
}

ul {
    list-style: none;
}

.about-info p{
    color: var(--txt-clr);
    font-family: "medium";
    font-size: 18px;
    text-align: justify;
}

.grid2 {
    align-items: start;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}

@media only screen and (max-width: 600px) {
    .grid2 { grid-template-columns: 1fr; }
}